/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.cf7_integ_container{
    text-transform: capitalize;
    margin-right: 20px;
    padding: 15px;
    background: #e3e3e3;
}
 .cf7_integ_container h1{
    color:#024002;
 }